@{
    ViewBag.Title = "Detail";
}
<!--
    TODO : pass to the page the providers that should be used.
    TODO : for each provider call the signal R endpoint and render the VMs.
    TODO : custom dashboard CSS
    TODO : Change the Header bar to have the Avatar+Name on left, and CallWall+Help+Close on the right.
-->
<style>
    /* -- Overrides --*/
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    body {
        background-color: #373737; /*CallWall.Windows has #F5303030, but assuming a white background then it becomes #373737 with the alpha channel removed.;*/
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-inner {
        background-color: #800080;
        background-image: none;
    }


    /* --New values --*/
    .kvp {
        padding: 2px 0px 2px 10px;
    }

    .key {
        font-size: 12px; /*TODO: Convert this to a scaling measure that will approximate to the windows font size -LC*/
        color: #A7A7A7;
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    .value {
    }

    .ol {
        margin-left: 0;
    }
    .message {
        background-color: #505050;
        min-height: 80px;
    }

    .chat {
        list-style-position: inside;
        list-style-image: url(/Content/images/Google/Contacts_48x48.png);
        list-style-type :
        margin-left: 0;
        padding-left: 0;
    }
    .email {
        list-style-position: inside;
        list-style-image: url(/Content/images/Google/Email_48x48.png);
    }
</style>
<div class="title">
    <img src="~/Content/images/AnonContact.svg" alt="Lee Fake Campbell" height="80" style="float: left" />
    <h2>Lee Fake Campbell</h2>
</div>
<div style="clear: both" />

<div class="row">
    <div id="ContactDetailsSection" class="span4 ContentSection">
        <h3>Details</h3>
        <h4>Mr. Lee Fake Ryan Campbell</h4>
        <h5>27 Dec</h5>
        <div>
            <span class="label">Family</span> <span class="label">UK</span>
        </div>

        <h4>Organizations</h4>
        <div class="kvp">
            <div class="key">Work</div>
            <div>RBC Capital Markets</div>
        </div>
        <div class="kvp">
            <div class="key">Owner</div>
            <div>Campbell Consulting London Ltd</div>
        </div>
        <div class="kvp">
            <div class="key">Volunteer</div>
            <div>VLCON - Very long charitable organization name</div>
        </div>

        <h4>Relationships</h4>
        <div class="kvp">
            <div class="key">Wife</div>
            <div>Erynne Campbell</div>
        </div>
        <div class="kvp">
            <div class="key">Brother</div>
            <div>Rhys Campbell</div>
        </div>

        <h4>Phone Numbers</h4>
        <div class="kvp">
            <div class="key">Mobile</div>
            <div>+44 71234 1234</div>
        </div>
        <div class="kvp">
            <div class="key">Work</div>
            <div>+44 21234 1234</div>
        </div>
        <div class="kvp">
            <div class="key">Home</div>
            <div>+44 41234 1234</div>
        </div>
    </div>

    <div id="CommunicationSection" class="span4 ContentSection">
        <h3>Communication</h3>

        <ol style="margin-left: 0">
            <li  class="message chat received">
                <span>&uE119;</span><h5>On My Way LEE</h5>
            </li>
            <li class="message chat sent">
                <h5>Dude, where are you?</h5>
            </li>
            <li class="message email received">
                <h5>Pricing a cross example</h5>
                <p>Here is the sample we were talking about the other da...</p>
            </li>
            <li class="message email received">
                <h5>Pricing a cross example</h5>
                <p>Here is the sample we were talking about the other da...</p>
            </li>
        </ol>
    </div>

    <div id="CalendarSection" class="span4 ContentSection">
        <h3>Calendar</h3>
    </div>
</div>

<div class="row">
    <div id="GallerySection" class="span4 ContentSection">
        <h3>Calendar</h3>
    </div>

    <div id="CollborationSection" class="span4 ContentSection">
        <h3>Collaboration</h3>
    </div>

    <div id="LocationSection" class="span4 ContentSection">
        <h3 style="margin-bottom: 5px">Location</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;ll=51.512722,-0.088534&amp;spn=0.007812,0.021136&amp;t=h&amp;z=16&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.co.uk/?ie=UTF8&amp;ll=51.512722,-0.088534&amp;spn=0.007812,0.021136&amp;t=h&amp;z=16&amp;source=embed" style="color: #0000FF; text-align: left">View Larger Map</a>
        </small>
    </div>
</div>
