@{
    ViewBag.Title = "About";
}
@*<hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>
    <div class="row-fluid">
        <div class="span12">
            <p>Use this area to provide additional information.</p>
        </div>
    </div>*@


<div class="hero-unit">
    <div class="row">
        <div class="span6">
            <h1>CallWall</h1>
            <p class="lead">Your free social-media powered CallerId.</p>
            <p><a href="./LearnMore/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
        <div class="span4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        @*<img src="~/Content/ScreenShots/CallWall_Windows_CallerDashboard.png"  class="span4"/>*@
    </div>
</div>
<div class="row">
    <div class="span4">
        <h2>Getting started</h2>
        <p>
            To get started you will need to
            @Html.ActionLink("download","Download", "Home")
            the Phone app for your Android or Blackberry mobile and then install the client on your PC, Mac or tablet.
            Once you have both your computer and phone ready you need to just simply link the phones and login to your social media accounts.
        </p>
        <p>
            Incoming calls to your mobile phone will prompt your PC, Mac or tablet to display a <i>Wall</i> of social-media powered information about the incoming caller.
        </p>
        <p><a class="btn" href="./GetStarted/">Get started &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Get up to date info</h2>
        <p>
            CallWall delivers you the most up to date information available to you about your contacts.
            Their emails, calendar appointments, location, tweets, facebook status, even the names of their loved ones.
        </p>
        <p>
            As most of this data is driven from their social media activites you dont have to maintain a CRM.
            They do all the work for you.
            Their tweets, posts, emails, pictures are about things that are important to them.
            If you want to add you own data you can do so via the contact software you use e.g. Gmail Contacts, Hotmail, Outlook etc.
        <p><a class="btn" href="./LearnMore/">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>J.I.T Friend</h2>
        <p>
            With CallWall you can get Just-In-Time (J.I.T) information about the incoming caller.
            Have their partners name at hand. See their latest tweet or latest pictures. Know if they are nearby with location services.
        </p>
        <p>
            As your contact lists grow, maintaining deep relationships becomes harder.
            While there is no substitute for knowing your contacts well, CallWall can keep you up to the minute with your contact's social-media lifestyle, or just the prompt you need to reply to that unread email.
        </p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
</div>