@{
    ViewBag.Title = "Downloads";
}
<div class="hero-unit">
    <div class="row">
        <div class="span6">
            <h1>Downloads</h1>
        </div>
        <div class="span4">
            <p>
                Link your workstation of choice (PC, Mac, iPad, Android Tablet etc) to your phone with CallWall.
                Calls to a linked mobile will launch CallWall on your workstation.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>'Tops &amp; Tablets</h2>
        <div style="margin-left: 20px">
            <img src="~/Content/images/Desktop.svg" />
            <img src="~/Content/images/Laptop.svg" />
            <img src="~/Content/images/Tablet.svg" />
        </div>
        <p>
            Get the client app for your 'top (Desktop and Laptops) or tablet (PC, Mac, iPad, Android Tablet etc).
            This allows your workstation or tablet to launch CallWall on incoming calls.
        </p>
        <dl>
            <dt>Windows</dt>
            <dd><a href="#">download</a></dd>
            <dt>OsX</dt>
            <dd><a href="#">download</a></dd>
            <dt>iPad</dt>
            <dd><a href="#">download</a></dd>
            <dt>Android tablets</dt>
            <dd><a href="#">download</a></dd>
        </dl>
    </div>
    <div class="span4">
        <h2>Mobile Phones</h2>
        <img src="~/Content/images/Smartphone.svg"
             style="margin-left: 20px" />
        <p>
            Get the mobile phone app to link your phone to your workstations and tablets.
            When the mobile receives an incoming call, it will alert your linked client devices.
        </p>
        <dl>
            <dt>Android</dt>
            <dd><a href="#">download</a></dd>
            <dt>Blackberry</dt>
            <dd><a href="#">download</a></dd>
            <dt><del>iPhone</del></dt>
            <dd><i>not supported</i>.</dd>
            <dt><del>WinPhone</del></dt>
            <dd><i>not supported</i>.</dd>

        </dl>
    </div>
    <div class="span4">
        <h2>Browser extensions</h2>
        <img src="~/Content/images/Browser.svg"
             style="margin-left: 20px" />
        <p>
            You can alternatively install a browser extension. 
            This allows you to install the CallWall application in the sandboxed environment of a browser.
        </p>
        <dl>
            <dt>Chrome</dt>
            <dd><a href="#">download</a></dd>
            <dt>Firefox</dt>
            <dd><a href="#">download</a></dd>
        </dl>
    </div>
</div>
